Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]

[SECURITY-3590]
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

Revert "Remove Jenkinsfile to remove ci.jenkins.io job"
  Jenkinsfile
Labels: none

[maven-release-plugin] prepare release git-client-6.1.4
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Use JGit with leak fix, stop calling JGit workaround
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Skip testSparseCheckoutWithCliGitLFS on CI
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Remove vanilla benchmark test
  src/test/java/jmh/benchmark/GitClientFetchVanillaBenchmark.java
Labels: tests

Convert JGitAPIImplUnsupportedProtocolTest to JUnit 5
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

Use repository matching comment - cairoshell
  src/test/java/jmh/benchmark/GitClientFetchBenchmark.java
Labels: tests

Correct comments in FolderForBenchmark
  src/test/java/jmh/benchmark/FolderForBenchmark.java
Labels: tests

Ban JUnit 4 imports
  pom.xml
Labels: none

Improve JMH sample repository choices
  src/test/java/jmh/benchmark/GitClientFetchBenchmark.java
Labels: tests

Skip testSparseCheckoutWithCliGitLFS on CI
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Fix code formatting
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Run GitClientTest.testSparseCheckoutWithCliGitLFS when credentials available
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Run GitClientTest.testSparseCheckoutWithCliGitLFS when credentials available (#1337)
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Do not create temporary files in project root
  .gitignore
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIWindowsFilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
Labels: skip-changelog, tests

Use Git LFS credentials in more tests
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Tests fail rarely, no need to fail fast
  Jenkinsfile
Labels: none

Use Git LFS credentials in more tests (#1341)
  Jenkinsfile
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

[maven-release-plugin] prepare release git-client-6.4.0
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Require credentials when testing git LFS methods
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

[maven-release-plugin] prepare release git-client-6.1.5
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

GitClientCloneTest: fix style complaints with `mvn spotless:apply`
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
Labels: tests

Require 2.504.3 or newer, not 2.504.1
  pom.xml
Labels: none

Add Jenkinsfile to test BUILD_TAG
  Jenkinsfile
Labels: none

Mark build unstable if BUILD_TAG contains '/'
  Jenkinsfile
Labels: none

Suppress spotbugs warning for absolute paths
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Test with Java 25 and Java 21
  Jenkinsfile
Labels: none

Test with Java 25 and Java 21 (#1352)
  Jenkinsfile
Labels: none

Format with spotless
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/test/java/jmh/benchmark/FolderForBenchmark.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests
