Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Require Jenkins 2.479.3 or newer
  pom.xml
Labels: none

Remove unnecessary suppressions
  src/main/java/hudson/plugins/git/Revision.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use official packRefs instead of internal packRefs
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

Increase to minor version 6.2.0 - JGit upgrade
  pom.xml
Labels: none

Test with an incremental build of Mina SSHD API 2.15.0
  pom.xml
Labels: none

Adapt test to latest Mina SSHD 2.15.0
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests

Try skipping the push() test
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Revert "Try skipping the push() test"
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Check if Windows PushTest failures are jgit specific
  src/test/java/org/jenkinsci/plugins/gitclient/PushSimpleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Skip PushTest and PushSimpleTest on Windows
  src/test/java/org/jenkinsci/plugins/gitclient/PushSimpleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Remove push tests temporarily
  src/test/java/org/jenkinsci/plugins/gitclient/PushSimpleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Revert "Remove push tests temporarily"
  src/test/java/org/jenkinsci/plugins/gitclient/PushSimpleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Ignore PushTest cleanup IOException on Windows
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Retry directory removal, ignore failure
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Use try with resources in JGit clone_ implementation
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Revert "Use try with resources in JGit clone_ implementation"
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Simplify the Windows ignore in PushTest
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Note that PushTest cleanup works locally
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: tests

Better phrasing in pom comment
  pom.xml
Labels: none

Use try with resources in doCheckoutWithResetAndRetry
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Replace outdated links to Git for Windows' wiki
  README.adoc
Labels: documentation

Replace outdated links to Git for Windows' wiki (#1267)
  README.adoc
Labels: documentation

Use try with resources in the JGit isBare method
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Open JGit repositories using try with resources
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit isBareRepository()
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit doCheckoutWithResetAndRetry
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit clone_()
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit doCheckoutWithResetAndRetry
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit isBareRepository()
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use try with resources in JGit clone_()
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Make spaces more visible in test data string
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests

Use latest mina sshd incremental
  pom.xml
Labels: none

Require the Mina SSHD released 2.15.0-161.vb_200831a_c15b_ version
  pom.xml
Labels: none

Fix tests that will fail with mina-sshd-api-2.15
  pom.xml
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
  src/test/resources/ssh_config-ecdsa-sha2-nistp256
  src/test/resources/ssh_config-ssh-ed25519
  src/test/resources/ssh_config-ssh-rsa
Labels: tests

spotless apply
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
Labels: tests

Drop test that varies based on Mina SSHD version
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests

Retain the test but remove one assertion
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests

Revert "Disable stable-6.1 branch on ci.jenkins.io"
  Jenkinsfile
Labels: none

Ignore assertion for ed_25519 key test
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
Labels: tests
