Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

fix spotless errors
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

fix spotbug warnings
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

use static field instead of hardcoded string (#1213)
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Added logs
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Test with JGit 7.1 packRefs() command instead of internal GC method
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

Revert "Bump jgit.version from 7.0.0.202409031743-r to 7.1.0.202411261347-r (…"
  pom.xml
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

Revert "Bump jgit.version from 7.0.0.202409031743-r to 7.1.0.202411261347-r (…" (#1223)
  pom.xml
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

Beanstalk URL is no longer valid - remove from test
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
Labels: tests

Remove test calls to isKubernetesCI()
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: tests

Add mockito-core javaagent for future Java compatibility
  pom.xml
Labels: none

Simplify formatting of known hosts file content
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
Labels: tests

Test host verifiers with a randomly selected ssh provider
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
Labels: tests

Remove test calls to isKubernetesCI()
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: tests

Test host verifiers with a randomly selected ssh provider
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
Labels: tests

Beanstalk URL is no longer valid - remove from test
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
Labels: tests

Simplify formatting of known hosts file content
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
Labels: tests

Add mockito-core javaagent for future Java compatibility
  pom.xml
Labels: none

Always run known hosts tests locally
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
Labels: tests

Stop running the unreliable known hosts test on ci.jenkins.io
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
Labels: tests

Always run known hosts tests locally
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
Labels: tests

Stop running the unreliable known hosts test on ci.jenkins.io
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
Labels: tests

Use incremental of mina-sshd-api using Mina as NIO framework
  pom.xml
Labels: none

Update .gitattributes for files in repo
  .gitattributes
Labels: skip-changelog

Use paremt pom 5.4
  pom.xml
Labels: none

Remove developers section from pom file
  pom.xml
Labels: none

Remove developers section from pom file (#1233)
  pom.xml
Labels: none

Use published packRefs() API instead of internal API
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

Minor improvements to JGitLightweightTagTest
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

[JENKINS-73923] Add javadoc for SSH host key verification strategies
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerificationStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerificationStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
Labels: documentation

Minor improvements to JGitLightweightTagTest (#1236)
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: tests

[JENKINS-73923] Add javadoc for SSH host key verification strategies (#1237)
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerificationStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerificationStrategy.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
Labels: documentation

Implement a tool-specific CasC preference for masking credentials in Git URLs; Implement URL credential masking using a system property; Add unit tests
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/main/resources/hudson/plugins/git/GitTool/config.jelly
  src/main/resources/hudson/plugins/git/GitTool/help-maskUrlCredentials.html
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorTest.java
  src/test/resources/org/jenkinsci/plugins/gitclient/configuration-as-code.yaml
Labels: documentation, tests

Remove CasC implementation
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorTest.java
  src/test/resources/org/jenkinsci/plugins/gitclient/configuration-as-code.yaml
Labels: tests

Remove leftover bits from CasC implementation
  src/main/resources/hudson/plugins/git/GitTool/config.jelly
  src/main/resources/hudson/plugins/git/GitTool/help-maskUrlCredentials.html
Labels: documentation

Remove unnecessary constants and tighten checks to mask URL credentials
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Add JavaDoc to MASK_URL_CREDENTIALS flag; Update README to include the maskUrlCredentials property
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: documentation

Remove leftover CasC code from GitToolConfigurator and its tests
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorTest.java
Labels: tests

Format fixes; Documentation fixes
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: documentation, tests

Fix Spotbugs issues; Reformat source; Add tests for clone and fetch methods
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
Labels: tests

Revert unintended imports change
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
Labels: tests

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]
