Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

Remove old git tests and related conditionals
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/SubmoduleUpdateCommand.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIForCliGitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Remove symref test conditionals
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitApacheAPIImplTest.java
Labels: tests

[JENKINS-73305] Create .ssh directory with owner only permissions
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
Labels: none

Revert "[BEE-47337] added a delay of 3 seconds (#1122)"
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
Labels: tests

Revert "[BEE-47337] added a delay of 3 seconds (#1122)" (#1151)
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
Labels: tests

Enable Jenkins Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Enable Jenkins Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Define and use jenkins.baseline property
  pom.xml
Labels: none

Define and use jenkins.baseline property (#1161)
  pom.xml
Labels: none

Consistent treatment of `GitException`
  src/main/java/hudson/plugins/git/IGitAPI.java
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/Netrc.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RepositoryCallback.java
  src/main/java/org/jenkinsci/plugins/gitclient/cgit/GitCommandsExecutor.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitCommand.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPICliGitNotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPINotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/NetrcTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WarnTempDirValueTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
  src/test/java/org/jenkinsci/plugins/gitclient/cgit/GitCommandsExecutorTest.java
Labels: tests

Test JGit 7.0.0-m2 with Jakarta EE 9 Jenkins core
  pom.xml
Labels: none

Consistent treatment of `GitException` (#1166)
  src/main/java/hudson/plugins/git/IGitAPI.java
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/Netrc.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RepositoryCallback.java
  src/main/java/org/jenkinsci/plugins/gitclient/cgit/GitCommandsExecutor.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitCommand.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPICliGitNotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPINotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/NetrcTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WarnTempDirValueTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
  src/test/java/org/jenkinsci/plugins/gitclient/cgit/GitCommandsExecutorTest.java
Labels: tests

Test JGit 7.0.0-m2 pre-release with Java 17 build
  pom.xml
Labels: none

Use Java 17 language features
  src/main/java/hudson/plugins/git/Branch.java
  src/main/java/hudson/plugins/git/IndexEntry.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/CredentialsProviderImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnection.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/test/java/jmh/benchmark/BenchmarkRunner.java
  src/test/java/jmh/benchmark/FolderForBenchmark.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/NetrcTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/jgit/AuthzTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: tests

Restore precise string content of test
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Remove hard-coded java-version in Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Remove hard-coded java-version in Security Scan (#1169)
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Use correct property for Java version
  pom.xml
Labels: none

Use correct test harness and compiler release for Jakarta EE 9
  pom.xml
Labels: none

Search Eclipse repo for dependencies
  pom.xml
Labels: none

Use default pull request template
  .github/pull_request_template.md
Labels: skip-changelog

Use default pull request template (#1171)
  .github/pull_request_template.md
Labels: skip-changelog

Test JGit 7.0.0-m2 pre-release with Java 17 build
  pom.xml
Labels: none

Test JGit 7.0.0 with Jakarta EE 9 Jenkins core
  pom.xml
Labels: none

Reduce the Jenkins version for my test configuration
  pom.xml
Labels: none

Test JGit 7.0.0-m2 pre-release with Java 17 build
  pom.xml
Labels: none

Test JGit 7.0.0 with Jakarta EE 9 Jenkins core
  pom.xml
Labels: none

Use JGit 7.0.0.202408202050-m3 pre-release
  pom.xml
Labels: none

Use JGit 7.0.0.202409031743-r
  pom.xml
Labels: none

Require Jenkins 2.463 and Java 17
  pom.xml
Labels: none

Adapt to removed API's in JGit 7.0.0
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use test harness 2265.x
  pom.xml
Labels: none

Next Jenkins baseline will be a .1
  pom.xml
Labels: none

Use JGit 7.0.0 with Java 17
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use 6.1.0 as version
  pom.xml
Labels: none

Remove inactive maintainer mramonleon
  pom.xml
Labels: none

Remove inactive maintainer mramonleon (#1185)
  pom.xml
Labels: none

Use JGit 7.0.0 with Java 17 (#1170)
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use Java 17 features in source code
  src/main/java/hudson/plugins/git/Branch.java
  src/main/java/hudson/plugins/git/IndexEntry.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/CredentialsProviderImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnection.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/test/java/jmh/benchmark/BenchmarkRunner.java
  src/test/java/jmh/benchmark/FolderForBenchmark.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/NetrcTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/jgit/AuthzTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: tests

Use Java 17 features in source code (#1186)
  src/main/java/hudson/plugins/git/Branch.java
  src/main/java/hudson/plugins/git/IndexEntry.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/CredentialsProviderImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnection.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/test/java/jmh/benchmark/BenchmarkRunner.java
  src/test/java/jmh/benchmark/FolderForBenchmark.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/NetrcTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/jgit/AuthzTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: tests

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]
