Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]

[maven-release-plugin] prepare release git-client-6.0.0
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Applied recipes UpgradeToJava17
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Annotate deprecated methods
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImpl.java
Labels: none

Replace deprecated getPassword() with getSecretPassword()
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Do not prefix a static import reference with its class
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use non-deprecated JGit methods to get references
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Annotate deprecated methods (#1188)
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImpl.java
Labels: none

Replace deprecated getPassword() with getSecretPassword() (#1189)
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Do not prefix a static import reference with its class (#1190)
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Use non-deprecated JGit methods to get references (#1191)
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

Require Jenkins 2.477
  pom.xml
Labels: none

Use test harness that drops EE 8
  pom.xml
Labels: none

Use Jenkins test harness 2289.x
  pom.xml
Labels: none

Adapt tests to credentials plugin 1378.v81ef4269d764
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
Labels: tests

Use test harness 2299.*
  pom.xml
Labels: none

Use parent pom 5.0
  pom.xml
Labels: none

Security scan not ready for Java 17 and Jakarta EE 9
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Use parent pom 5.1
  pom.xml
Labels: none

Revert "Security scan not ready for Java 17 and Jakarta EE 9"
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

Use scm.connection consistent with archetype
  pom.xml
Labels: none

Use scm.connection consistent with archetype (#1201)
  pom.xml
Labels: none

Use StaplerRequest2 for EE 9
  src/main/java/hudson/plugins/git/GitTool.java
Labels: none

Require Jenkins 2.479 or newer (#1172)
  pom.xml
  src/main/java/hudson/plugins/git/GitTool.java
Labels: none

Use ssh protocol for developer connection
  pom.xml
Labels: none

[maven-release-plugin] prepare release git-client-6.1.0
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Use Jenkins 2.479 as BOM baseline
  pom.xml
Labels: none

Use Java 17 language features
  src/main/java/hudson/plugins/git/Branch.java
  src/main/java/hudson/plugins/git/GitAPI.java
  src/main/java/hudson/plugins/git/GitException.java
  src/main/java/hudson/plugins/git/GitLockFailedException.java
  src/main/java/hudson/plugins/git/GitObject.java
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/hudson/plugins/git/IndexEntry.java
  src/main/java/hudson/plugins/git/Revision.java
  src/main/java/hudson/plugins/git/Tag.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/Git.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitApacheTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
Labels: none

Use Java 17 language features (#1206)
  src/main/java/hudson/plugins/git/Branch.java
  src/main/java/hudson/plugins/git/GitAPI.java
  src/main/java/hudson/plugins/git/GitException.java
  src/main/java/hudson/plugins/git/GitLockFailedException.java
  src/main/java/hudson/plugins/git/GitObject.java
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/hudson/plugins/git/IndexEntry.java
  src/main/java/hudson/plugins/git/Revision.java
  src/main/java/hudson/plugins/git/Tag.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/Git.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitApacheTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
Labels: none

Require Jenkins 2.479.1 or newer
  pom.xml
Labels: none

Require Jenkins 2.479.1 or newer (#1209)
  pom.xml
Labels: none

add include merge commits option to changelog implementation
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

use static field instead of hardcoded string
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

add tests
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

Revert "[FIXED JENKINS-27097] use ISO-8601 in changelog"
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none

update
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

update
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

update tests
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

update methods
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: none
