Repository jenkinsci/git-client-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: skip-changelog, documentation, tests

Migrate from Commons Lang 2 to Commons Lang 3 (#1318)
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/test/java/hudson/plugins/git/GitToolTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPICliGitNotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIForCliGitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIJGitNotInitializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
Labels: tests

Prepare for 6.3.0 release
  pom.xml
Labels: none

[maven-release-plugin] prepare release git-client-6.3.0
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

JENKINS-64844 allow checkout of partially cloned repo
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Explicitly declare bundled artifacts
  pom.xml
Labels: none

JENKINS-64844 allow checkout of partially cloned repo
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: none

Use parent pom 5.22 with strictBundledArtifacts
  pom.xml
Labels: none

Explicitly declare bundled artifacts (#1321)
  pom.xml
Labels: none

Remove Jenkinsfile to remove ci.jenkins.io job
  Jenkinsfile
Labels: none

Remove Jenkinsfile to remove ci.jenkins.io job
  Jenkinsfile
Labels: none

Use parent pom 5.23
  pom.xml
Labels: none

[JENKINS-76004] Use git log instead of git whatchanged for changelog
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

[JENKINS-76004] Use git log instead of git whatchanged for changelog (#1326)
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

[maven-release-plugin] prepare release git-client-6.3.1
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

[JENKINS-76026] Do not show merges in changelog
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[JENKINS-76026] Do not show merges in changelog (#1327)
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[maven-release-plugin] prepare release git-client-6.3.2
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Restore dependency declaration
  pom.xml
Labels: none

Fix file cleanup
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

[SECURITY-3590]
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

[maven-release-plugin] prepare release git-client-6.3.3
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

[JENKINS-76004] Use git log instead of git whatchanged for changelog (#1326)
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

[JENKINS-76026] Do not show merges in changelog (#1327)
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[SECURITY-3590]
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

[JENKINS-76004] Use git log instead of git whatchanged for changelog (#1326)
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

[JENKINS-76026] Do not show merges in changelog (#1327)
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[SECURITY-3590]
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

Update GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: tests

[maven-release-plugin] prepare release git-client-6.2.1
  pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Labels: none

Revert "Remove Jenkinsfile to remove ci.jenkins.io job"
  Jenkinsfile
Labels: none

[JENKINS-76004] Use git log instead of git whatchanged for changelog (#1326)
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

[JENKINS-76026] Do not show merges in changelog (#1327)
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[SECURITY-3590]
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplUnsupportedProtocolTest.java
Labels: tests

[JENKINS-76026] Do not show merges in changelog (#1327)
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
Labels: tests

[JENKINS-76004] Use git log instead of git whatchanged for changelog (#1326)
  CONTRIBUTING.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/ChangelogCommand.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation

.github/labeler.yml:

skip-changelog:
- changed-files:
  - any-glob-to-any-file: [ '.gitattributes', '.github/**/*', '.gitignore', 'crowdin.yml', '.mvn/**/*' ]

documentation:
- changed-files:
  - any-glob-to-any-file: [ '*.adoc', '*.md', '*.txt', '**/*.html', '**/*.png', 'LICENSE*' ]

tests:
- changed-files:
  - any-glob-to-any-file: [ 'src/test/**/*' ]
