Repository jenkinsci/git-client-plugin, pull requests merged in 2019-10, with the labels that each got.

#469 Use JGit 5.5.1
  pom.xml
Labels: dependencies, hacktoberfest

#470 Enforce pom formatting
  pom.xml
Labels: dependencies

#471 Add two more maintainers
  pom.xml
Labels: skip-changelog

#468 [JENKINS-57326] JCasC support for GitTool and subtypes
  pom.xml
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitToolConfigurator.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorJenkinsRuleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JcascTest.java
  src/test/resources/org/jenkinsci/plugins/gitclient/configuration-as-code.yaml
Labels: feature

#473 Remove tidy:check - unexplainable failures
  pom.xml
Labels: dependencies
