Repository jenkinsci/git-client-plugin, pull requests merged in 2019-08, with the labels that each got.

#443 Add dependabot config and update parent pom
  .dependabot/config.yml
  pom.xml
Labels: no-changelog

#447 [JENKINS-53933] set file permissions to allow use of openssh on windows
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIWindowsFilePermissionsTest.java
Labels: bug

#450 Fix test failure when running as root user
  src/test/java/hudson/plugins/git/GitExceptionTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: bug

#451 Use JGit 5.4.2
  pom.xml
Labels: dependencies

#452 Exclude jsr305 from plugin packaging
  pom.xml
Labels: bugs

#453 Test with Jenkins 2.176.3
  Jenkinsfile
Labels: no-changelog
