Repository jenkinsci/git-client-plugin, pull requests merged in 2019-11, with the labels that each got.

#475 Add missing @Override annotations to CliGitAPIImpl
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: skip-changelog

#399 Reduce deprecated API usage
  src/main/java/hudson/plugins/git/GitAPI.java
  src/main/java/org/jenkinsci/plugins/gitclient/AbstractGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/test/java/hudson/plugins/git/GitExceptionTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
Labels: ShortTerm, skip-changelog

#477 Convert README to adoc, add CHANGELOG & Priorities
  CHANGELOG.adoc
  CONTRIBUTING.adoc
  CONTRIBUTING.md
  Priorities.adoc
  README.adoc
  README.md
Labels: documentation

#478 Switch from README.md to README.adoc in tests
  .github/pull_request_template.md
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
Labels: test

#479 # Fix failing stable-2.x tests
  .github/pull_request_template.md
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
Labels: test

#480 Use parent pom 3.54
  pom.xml
  src/test/java/hudson/plugins/git/GitExceptionTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/StringSharesPrefix.java
Labels: dependencies

#481 Reduce differences to master branch
  src/test/java/hudson/plugins/git/GitExceptionTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/StringSharesPrefix.java
Labels: skip-changelog
