Repository jenkinsci/git-client-plugin, pull requests merged in 2020-07, with the labels that each got.

#578 [JENKINS-62767] Need to bundle org.eclipse.jgit.ssh.jsch
  pom.xml
Labels: bugfix

#579 Fix incrementals by removing randomized Jenkins version testing
  CONTRIBUTING.adoc
  Jenkinsfile
Labels: chore

#574 [GSoC'20] Add redundant fetch fix performance benchmark
  src/test/java/jmh/benchmark/GitClientLSRemoteBenchmark.java
  src/test/java/jmh/benchmark/GitClientRedundantFetchBenchmark.java
Labels: test

#580 Add scm-api dependency for tests
  pom.xml
Labels: test

#588 Reduce a few JUnit 3 tests
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnection.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test

#590 [JENKINS-62587] Log git version value for easier debug
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: feature
