Repository jenkinsci/git-client-plugin, pull requests merged in 2020-02, with the labels that each got.

#500 Whitelist CliGitAPIImpl.TIMEOUT for Pipeline
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: feature

#504 Some GitAPITestCase tests were replaced in GitClientTest
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test

#510 Fix multi-core testing, update dependencies
  pom.xml
Labels: dependencies

#513 Fix hyperlink to 'Later' in CONTRIBUTING
  CONTRIBUTING.adoc
Labels: documentation

#514 [JENKINS-57205] Packed lightweight tags must resolve to meaningful object IDs lest they cause NPEs downstream
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
Labels: bugfix
