Repository jenkinsci/git-client-plugin, pull requests merged in 2020-03, with the labels that each got.

#507 [JENKINS-60940] Add WorkspaceWithRepoRule and two test classes
  pom.xml
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCliCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSampleRepoRule.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
Labels: ShortTerm, test

#525 Move JENKINS-33258 tests into CLI specific tests
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCliCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
Labels: test

#524 Safely handle localMirror creation in tests
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCliCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
Labels: test

#528 Fix windows git LFS tests
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test

#529 Replace javax annotations with spotbugs annotations
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/Git.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
Labels: chore
