Repository jenkinsci/git-client-plugin, pull requests merged in 2020-08, with the labels that each got.

#593 Document plugin properties
  README.adoc
Labels: documentation

#594 Add a new command: UnsupportedCommand to communicate compatibility of JGit
  src/main/java/org/jenkinsci/plugins/gitclient/UnsupportedCommand.java
  src/test/java/org/jenkinsci/plugins/gitclient/UnsupportedCommandTest.java
Labels: feature

#595 Fix Windows test failure by enabling core.longpaths
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test

#585 [JENKINS-63146] Use credentials.file.encoding property for passphrase file
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bugfix

#599 Add RemoteGitImplTest for a few methods
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
Labels: test

#600 [JENKINS-63307] Honor property value in zOS credential files
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitCommand.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSampleRepoRule.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSecurityTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemotingTest.java
Labels: bugfix
