Repository jenkinsci/git-client-plugin, pull requests merged in 2020-01, with the labels that each got.

#487 Use parent pom 3.55
  CONTRIBUTING.adoc
  pom.xml
Labels: dependencies

#488 [JENKINS-45228] Add authentication to git merge operations
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
Labels: feature

#490 Upgrade to use jcasc test harness
  pom.xml
Labels: dependencies, test

#491 Add docs badge for new gitter channel
  README.adoc
Labels: documentation

#492 [JENKINS-60694] Fix InjectedTest failures from JTH 2.57
  pom.xml
Labels: test

#493 Use parent pom 3.56
  pom.xml
Labels: dependencies

#486 [JENKINS-60316] Fix escaping single quotes in Unix file paths
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bugfix

#495 Show docs from tagged release
  images/enable-jgit.png
  pom.xml
Labels: documentation
