Repository jenkinsci/git-client-plugin, pull requests merged in 2021-12, with the labels that each got.

#786 Prevent unused Java import statements
  pom.xml
  src/main/java/hudson/plugins/git/GitTool.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientSampleRepoRule.java
Labels: skip-changelog

#789 Adapt tests to new default branch name
  .gitignore
  src/main/java/hudson/plugins/git/GitTool.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushSimpleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/SubmodulePatternStringTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/WarnTempDirValueTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/trilead/CredentialsProviderImplTest.java
Labels: test

#790 Add SortPom to build
  pom.xml
Labels: dependencies

#791 Make pom more consistent with git plugin
  pom.xml
Labels: dependencies

#793 Rename and reduce complexity of a test
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITesJGITNotInitialized.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestJGitNotInitialized.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
Labels: test

#794 Remove unused assertions and assert methods
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCliGitNotIntialized.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestForCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestJGitNotInitialized.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestNotIntialized.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCliCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
Labels: test

#795 [JENKINS-67466] Add timeout to JGit remote operations
  README.adoc
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCliCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitApacheAPIImplTest.java
Labels: feature
