Repository jenkinsci/git-client-plugin, pull requests merged in 2021-02, with the labels that each got.

#669 Use controller to refer to the Jenkins server
  README.adoc
Labels: documentation

#671 Remove special case from JGit test
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
Labels: test

#677 Migrating Tests From JUnit 3 (GitAPITesCase) to JUnit 4 (GitAPITest)
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
Labels: test

#678 Migrating Tests From JUnit 3 (GitAPITesCase) to JUnit 4 (GitAPITest)
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestForCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestNotIntialized.java
Labels: test

#680 Require Jenkins 2.249.1
  README.adoc
  pom.xml
Labels: dependencies
