Repository jenkinsci/git-client-plugin, pull requests merged in 2021-03, with the labels that each got.

#673 [JENKINS-64913] Label private key files on SELinux
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bugfix

#683 Cleanup getInstance() references
  src/main/java/hudson/plugins/git/GitTool.java
  src/main/java/org/jenkinsci/plugins/gitclient/Git.java
Labels: bugfix

#687 Remove unused private boolean and imports
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestCase.java
Labels: chore

#690 [JENKINS-64913] CliGitAPIImpl.java: fixSELinuxLabel(): add some sanity…
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: feature

#691 Require Jenkins 2.263.1
  pom.xml
Labels: dependencies
