Repository jenkinsci/git-client-plugin, pull requests merged in 2022-12, with the labels that each got.

#508 [JENKINS-23477] expand vars in sparse checkout field
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bugfix

#940 Fix JMH environment test setup
  src/test/java/jmh/benchmark/FolderForBenchmark.java
Labels: test

#944 Allow tests from shallow clone repos
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/WorkspaceWithRepo.java
Labels: test

#939 Require Java 11 and Jenkins 2.361.4 or newer
  CONTRIBUTING.adoc
  Jenkinsfile
  README.adoc
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: enhancement
