Repository jenkinsci/git-client-plugin, pull requests merged in 2022-10, with the labels that each got.

#917 Rely on spotbugs from parent pom
  pom.xml
Labels: chore

#918 Add verifier package description for javadoc
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/package-info.java
Labels: documentation

#920 Ignoring failing tests
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test

#919 Require Jenkins 2.346.3 or newer
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIWindowsFilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitApacheAPIImplTest.java
Labels: chore

#923 Allow file:// clones of submodules in tests
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
Labels: test
