Repository jenkinsci/git-client-plugin, pull requests merged in 2022-09, with the labels that each got.

#862 [JENKINS-13493] Automatic Git Cache Maintenance API
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
Labels: test, feature

#905 Simplify maintenance tests
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
Labels: test

#907 Test a wider range of Jenkins versions in CI
  Jenkinsfile
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: test

#910 [JENKINS-69706] Use gson 2.8.9 to satisfy security scanners
  pom.xml
Labels: chore
