Repository jenkinsci/git-client-plugin, pull requests merged in 2022-08, with the labels that each got.

#887 [Backport 3.10.0.x][JENKINS-69149] Set 'Known hosts file' strategy as default
  README.adoc
  images/ssh-host-key-verification.png
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfiguration.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/main/resources/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfiguration/help-sshHostKeyVerificationStrategy.html
  src/test/java/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfigurationTest.java
Labels: bugfix

#888 [Backport 3.11.x][JENKINS-69149] Set 'Known hosts file' strategy as default
  README.adoc
  images/ssh-host-key-verification.png
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfiguration.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/SshHostKeyVerificationStrategy.java
  src/main/resources/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfiguration/help-sshHostKeyVerificationStrategy.html
  src/test/java/org/jenkinsci/plugins/gitclient/GitHostKeyVerificationConfigurationTest.java
Labels: bugfix

#889 Use expected test class names
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPICliGitNotIntializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIForCliGitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIJGitNotInitializedTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPINotIntializedTest.java
Labels: test

#890 Simplify test assertions
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientCloneTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: test

#891 Require Jenkins 2.332.4 or later
  pom.xml
Labels: chore

#880 Use container agent for CI build
  Jenkinsfile
  pom.xml
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
Labels: test

#896 [JENKINS-69193] GitAPITestUpdateCliGit: rely less on strict wording of messages from git CLI tool
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
Labels: test
