Repository jenkinsci/git-client-plugin, pull requests merged in 2023-05, with the labels that each got.

#713 [JENKINS-65838] Do not set proxy authentication if username and/or password are not null but empty strings
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bugfix

#1009 Add host key logging
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
Labels: chore

#1010 Remove unnecessary argLine property from pom file
  pom.xml
Labels: chore

#1011 Forward compatibility with Guava 32.0.0
  src/test/java/org/jenkinsci/plugins/gitclient/cgit/GitCommandsExecutorTest.java
Labels: test

#1012 Name JenkinsRule variable consistently
  src/test/java/hudson/plugins/git/GitToolResolverTest.java
  src/test/java/hudson/plugins/git/GitToolTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/CredentialsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitJenkinsRuleTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitToolConfiguratorJenkinsRuleTest.java
Labels: test
