Repository jenkinsci/git-client-plugin, pull requests merged in 2023-12, with the labels that each got.

#1077 Use gson-api plugin instead of bundling gson-api jar
  pom.xml
Labels: chore

#1083 Add automated formatting note to contributing guide
  CONTRIBUTING.adoc
Labels: documentation

#1085 Use spotbugs plugin 4.8.2.0 with new exclusions
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: dependencies, skip-changelog

#1087 Omit spotbugs CT_CONSTRUCTOR_THROWS visitor
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: dependencies, chore

#1088 Replace multiple images with a single image
  README.adoc
  images/jenkins-and-git.png
Labels: documentation

#1091 Fix Javadoc link to JGit user guide
  src/main/javadoc/overview.html
Labels: documentation
