Repository jenkinsci/git-client-plugin, pull requests merged in 2024-03, with the labels that each got.

#1112 Require Jenkins 2.414.3 or newer
  pom.xml
Labels: dependencies, chore

#1107 Implement config with gitclient and fix test issue with auto sign setup locally
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/GitClient.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/RemoteGitImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/CliGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/FilePermissionsTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPIForCliGitTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientFetchTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientMaintenanceTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/GitClientTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/JGitLightweightTagTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/LegacyCompatibleGitAPIImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/MergeCommandTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/PushTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/RemoteGitImplTest.java
Labels: developer, tests

#1111 [Jenkins-72819] Fix NPE in CliGitAPIImpl.launchCommandIn() caused by InterruptedException
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bug

#1103 [JENKINS-72667] Fix "Text file busy" issue with GIT_ASKPASS
  src/main/java/org/jenkinsci/plugins/gitclient/CliGitAPIImpl.java
Labels: bug

#1115 Minor phrasing change in a JGit specific exception message
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
Labels: documentation
