Repository jenkinsci/git-client-plugin, pull requests merged in 2024-06, with the labels that each got.

#1146 Remove last references to JUnit 3
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdate.java
Labels: tests

#1144 Require Jenkins 2.440.3 or newer
  pom.xml
Labels: chore

#1127 Use Apache Mina, remove trilead for ssh connectivity
  pom.xml
  src/main/java/org/jenkinsci/plugins/gitclient/Git.java
  src/main/java/org/jenkinsci/plugins/gitclient/JGitAPIImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/CredentialsProviderImpl.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnection.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/PreemptiveAuthHttpClientConnectionFactory.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/jgit/StandardUsernameCredentialsCredentialItem.java
  src/main/java/org/jenkinsci/plugins/gitclient/trilead/JGitConnection.java
  src/main/java/org/jenkinsci/plugins/gitclient/trilead/SmartCredentialsProvider.java
  src/main/java/org/jenkinsci/plugins/gitclient/trilead/TrileadSession.java
  src/main/java/org/jenkinsci/plugins/gitclient/trilead/TrileadSessionFactory.java
  src/main/java/org/jenkinsci/plugins/gitclient/trilead/package-info.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/AbstractJGitHostKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/HostKeyVerifierFactory.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifier.java
  src/main/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifier.java
  src/test/java/org/jenkinsci/plugins/gitclient/credentials/CredentialsProviderImplTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/credentials/SmartCredentialsProviderTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/credentials/StandardUsernamePasswordCredentialsImpl.java
  src/test/java/org/jenkinsci/plugins/gitclient/jgit/AuthzTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/AcceptFirstConnectionVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsFileVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/KnownHostsTestUtil.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/ManuallyProvidedKeyVerifierTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/verifier/NoHostKeyVerifierTest.java
  src/test/resources/ssh_config
Labels: enhancement, tests

#1151 Revert added 3 second delay in test
  src/test/java/org/jenkinsci/plugins/gitclient/GitAPITestUpdateCliGit.java
Labels: test

#1152 Enable Jenkins Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog
